/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
    font-family: 'pokemon_solid';
    src: url('/assets/pokemon_solid');
  }
  @font-face {
    font-family: 'pokemon_hollow';
    src: url('/assets/pokemon_hollow');
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #aeb8f3, #fff );
  }

  .solid{
    font-family: 'pokemon_solid';
    color: yellow

  }

  .solid-border {
    -webkit-text-stroke: 2px #0e0ec9c9;
  }

  .custom-mt{
    margin-top: 10%;
  }

  .vh-90{
    height: 70%;
  }

  .size-32{
    height: 32px;    
  }
.pagination{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.my-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);  
}

.img{
  background-image: image-url('bg.jpg')
}

.imgindex{
  background-image: image-url('background3.jpg')
}